:root {
  --defualt: rgb(12, 13, 29);
  --skyblue: rgb(188, 219, 247);
  --clouds: rgba(238, 234, 234, 0.822);
}

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  background: url("../walpeaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;
}

.invalid-input {
  border: solid 1px rgb(240, 62, 62);
  border-width: 1px;
}

@media only screen and (max-width: 1300px) {
  body {
    background: var(--defualt);
  }
}
